<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link th:href="@{style.css}" rel="stylesheet">
    <meta charset="UTF-8">
    <title>Main page</title>
</head>
<body>
<div class="wrapper">
    <div class="header"><h1 class="main_header">Spring shop</h1>
        <a class="main_header" th:href="@{/registration}">Регистрация</a>
        <a class="main_header" th:href="@{/login}">Вход</a>
        <a class="main_header" th:href="@{/logout}">Выход</a>
    </div>
    <div class="content">
        <div class="categories">
            <ul th:each="category:${categories}">
                <li class="menu_box" th:text="${category.getName()}">Category</li>
            </ul>
        </div>
        <div class="products">

            <div class="product_tile" th:each="product:${products}">
                <img class="img_preview" th:attr="src=@{${product.getPic()}}">
                <p th:text="${product.getName()}"></p>
                <p th:text="${product.getPrice()}"></p>
            </div>

        </div>

    </div>


</div>
</body>
</html>