<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <link th:href="@{style.css}" rel="stylesheet">
    <meta charset="UTF-8">
    <title>Registration</title>
</head>
<body>
<h1>Страница регистрации</h1>
<form th:action="@{/registration}" th:object="${user}" method="post">
    <label>Username</label>:<input th:field="*{username}" type="text" name="username" autofocus="autofocus">
    <p th:each="error : ${#fields.errors('username')}" th:text="${error}" class="error">Validation error</p><br>
    <label>Password</label>: <input th:filed="*{password}" type="password" name="password">
    <p th:each="error : ${#fields.errors('password')}" th:text="${error}" class="error">Validation error</p><br>
    <label>E-mail</label>: <input th:filed="*{email}" type="email" name="email">
    <p th:each="error : ${#fields.errors('email')}" th:text="${error}" class="error">Validation error</p><br>
    <label>Firstname</label>: <input th:field="*{firstname}" type="text" name="firstname">
    <p th:each="error : ${#fields.errors('firstname')}" th:text="${error}" class="error">Validation error</p><br>
    <label>Lastname</label>: <input th:field="*{lastname}" type="text" name="lastname">
    <p th:each="error : ${#fields.errors('lastname')}" th:text="${error}" class="error">Validation error</p><br>
    <input type="submit" value="Registration">
</form>
</body>
</html>